:root{
    --green: #1DB954;
    --white: #FFFFFF;
    --black: #121212;
}


* {
    font-family: sans-serif;
}

body {
    background-color: var(--white);
}
@media(prefers-color-scheme: dark){
    body{
        background-color: var(--black);
    }
}

h1 {
    font-size: 500%;
    color: #1DB954;
    display: flex;
    justify-content: center;
}