:root{
    --green: #1DB954;
    --white: #FFFFFF;
    --black: #121212;
}

* {
    font-family: sans-serif;
}

body {
    background-color: var(--white);
    color: var(--black);
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    color: var(--green);
    display: flex;
    justify-content: center;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 150px;
    padding: 10px 20px;
    line-height: 150px;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    font-size: 36px;
    user-select: none;
}
a.button:hover{
    background-color: #199e48
}

#loginBox{
    width: 25%;
    height: 186px;
    justify-content: center;
    text-align: center;
    margin: auto;
}
#loginBox h2{
    font-size: 36px;
    color: var(--black)
}

#loginBox button{
    background-color: #FF0000;
    color: var(--white);
    font-weight: 900;
    border-radius: 8px;
    border-style: none;
    width: 32%;
    height: 24%;
}
#loginBox button:hover{
    background-color: #bf0000;
    cursor: pointer;
}

/* for dark mode users */
@media(prefers-color-scheme: dark){
    body{
        background-color: var(--black);
        color: var(--white);
    }
    #loginBox h2{
        color: var(--white)
    }
    
}